@keyframes animation1 {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);

    }
}

@keyframes animation2 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(420deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes animation3 {
    0% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(-420deg);
    }

    100% {
        transform: rotate(-360deg);
    }
}
